<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../login-app/login-app.html">
<link rel="import" href="../profile-app/profile-app.html">
<link rel="import" href="../infoaccount-app/infoaccount-app.html">
<link rel="import" href="../add-movement/add-movement.html">
<link rel="import" href="../get-movement/get-movement.html">
<link rel="import" href="../view-movement/view-movement.html">
<link rel="import" href="../graph-movement/graph-movement.html">
<!--<link rel="import" href="../domrepeat-app/domrepeat-app.html">-->

<dom-module id="index-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="stylesheet" href="../../resources/css/index.css">
    <style type="text/css">

    .square_1,
    .square_2{
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      opacity: 0.6;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .square_1{
      background: #d50d0d;
      float: left;

    }
    .square_2{
      background: #44d50d;
      float: right;
    }

    .square_1 > h3,
    .square_2 > h3 {
      font-family: sans-serif;
      color: white;
      font-size: 0.8rem;
      font-weight: bold;
      }
    </style>


    <span hidden$={{activeLogin}}>
      <login-app on-eventlogin="indexEvent" id="main"></login-app>
    </span>

    <span hidden$={{!activeLogin}}>
      <div class="page-wrapper chiller-theme toggled" id="pagewap">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <iron-icon src="../../resources/menubar.png" on-click="eventCloser"></iron-icon>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">Mirai Bank</a>
              <div id="close-sidebar">
                <iron-icon src="../../resources/iconsxam.png" on-click="eventCloser"></iron-icon>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                  alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">[[name]]
                  <strong>[[surName]]</strong>
                </span>
              </div>
            </div>

            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>Información general</span>
                </li>
                <li on-click="executeGetProfile">
                  <a href="/profile-app">
                    <span>Información Personal</span>
                  </a>
                </li>
                <li on-click="executeGetBank">
                  <a href="/infoaccount-app">
                    <span>Información Bancaria</span>
                  </a>
                </li>
                <li on-click="executeAddMov">
                  <a href="/add-movement">
                    <span>Depósito de efectivo</span>
                  </a>
                </li>
                <li on-click="executeGetMov">
                  <a href="/get-movement">
                    <span>Disposición de efectivo</span>
                  </a>
                </li>
                <li on-click="executeViewMov">
                  <a href="/view-movement">
                    <span>Ver movimientos</span>
                  </a>
                </li>
                <li on-click="executeGraphMov">
                  <a href="/graph-movement">
                    <span>Ver gastos del mes</span>
                  </a>
                </li>
                <li on-click="executeExit">
                  <a href="">
                    <span>Cerrar sesión</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <main class="page-content">

          <div>
            <br />
            <br />
            <br />
          </div>
          <div class="paginauelemento">
            <div class = "row-banxico">
              <div class="square_1">
                <br />
                <h3>Dólar en compra</h3>
                <h3> [[valueDolarBuy]]</h3>
              </div>
              <div class="square_2">
                <br />
                <h3>Dólar en venta</h3>
                <h3>[[valueDolarSell]]</h3>
              </div>
            </div>
          </div>


          <div class="container-fluid">
            <div class="form-group col-md-12">
              <iron-pages selected="[[routeData.page]]" attr-for-selected="iron-componentname">
                <profile-app iron-componentname="profile-app" id="profile"></profile-app>
                <infoaccount-app iron-componentname="infoaccount-app" id="bankinfo"></infoaccount-app>
                <add-movement iron-componentname="add-movement" id="addmov" on-eventviewmoney="indexEventMoney"></add-movement>
                <get-movement iron-componentname="get-movement" id="getmov"></get-movement>
                <view-movement iron-componentname="view-movement" id="viewmov"></view-movement>
                <graph-movement iron-componentname="graph-movement" id="graphmov"></graph-movement>
              </iron-pages>
            </div>
          </div>
        </main>

      </div>
    </span>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}">
    </app-route>


    <iron-ajax
      id="doGetFeatureIndex"
      url="http://3.14.8.44:3002/v1/getFeatures"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      body='{"email": "[[emailValue]]"}'
      on-response="manageAJAXResponse"
      on-error="responseErrorAjax"> </iron-ajax>

    <iron-ajax
      id="doGetBanxico"
      auto
      url="http://3.14.8.44:3002/v1/getBanxico"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseBX"> </iron-ajax>


  </template>

  <script>
    class IndexApp extends Polymer.Element {
      static get is() { return 'index-app'; }
      static get properties() {
        return {
          route: {
              type: Object
          },
          routeData: {
              type: Object
          },
          activeLogin: {
              type: Boolean,
              value: sessionStorage.getItem("flagLogin")
          },
          name: {
            type: String,
            value: sessionStorage.getItem("name")
          },
          surName: {
            type: String,
            value: sessionStorage.getItem("surName")
          },
          emailValue:{
            type: String,
            value: sessionStorage.getItem("email")
          },
          token:{
            type: String,
            value: sessionStorage.getItem("token")
          },
          valueDolarBuy:{
            type: String
          },
          valueDolarSell:{
            type: String
          },
          pathIndex:{
            type: String
          },
          flagButtom:{
            type: Boolean,
            value: false
          }
        };
      }

      eventCloser(){
        if(!this.flagButtom){
          this.shadowRoot.querySelector('#pagewap').classList.remove('toggled');
          this.flagButtom = true;
        }else{
          this.shadowRoot.querySelector('#pagewap').classList.add('toggled');
          this.flagButtom = false;
        }
        //console.log(this.offsetWidth);
        //this.$.id1.style.width
      }

      indexEvent(e) {
        if (this.routeData.page == "index-app" && e.detail.loginSuccessful == "true") {
          this.emailValue = e.detail.email;
          this.activeLogin = true;
          //sessionStorage.setItem("token", e.detail.token);
          this.token = e.detail.token;
          sessionStorage.setItem("token", this.token);
          sessionStorage.setItem("email", e.detail.email);

          this.$.doGetFeatureIndex.headers = {
            'access-token':this.token,
            'Content-Type': 'application/json'
          };
          this.$.doGetFeatureIndex.generateRequest();
        }
      }

      indexEventMoney(e) {
        if(e.detail.flagViewMoney == "true"){
          this.executeGetBank();
        }
      }

      manageAJAXResponse(data) {
        var surName = data.detail.response[0].lastName.split(",");
        this.name = data.detail.response[0].name
        this.surName = surName[0];
        sessionStorage.setItem("name", data.detail.response[0].name);
        sessionStorage.setItem("surName", surName[0]);
      }

      manageAJAXResponseBX(data){
        this.valueDolarBuy = data.detail.response.bmx.series[0].datos[0].dato;
        this.valueDolarSell = data.detail.response.bmx.series[1].datos[0].dato;
        this.set('route.path', '/index-app');
      }

      responseErrorAjax(error) {
        console.log("Hubo un error en la petición");
        console.log(error);
      }

      executeGetProfile() {
        if (this.offsetWidth < 400){
          this.eventCloser();
        }
        this.$.profile.getInformation(this.emailValue, this.token);
      }

      executeGetBank() {
        if (this.offsetWidth < 400){
          this.eventCloser();
        }
        this.$.bankinfo.getInfoAccount(this.emailValue, this.token);
      }

      executeAddMov() {
        if (this.offsetWidth < 400){
          this.eventCloser();
        }
        this.$.addmov.getInfoAccount(this.emailValue, this.token);
      }

      executeGetMov() {
        if (this.offsetWidth < 400){
          this.eventCloser();
        }
        this.$.getmov.getInfoAccount(this.emailValue, this.token);
      }
      executeViewMov() {
        if (this.offsetWidth < 400){
          this.eventCloser();
        }
        this.$.viewmov.getInfoAccount(this.emailValue, this.token, this.offsetWidth);
      }
      executeGraphMov() {
        if (this.offsetWidth < 400){
          this.eventCloser();
        }
        this.$.graphmov.getInfoAccount(this.emailValue,this.token);
      }
      executeExit() {
        //this.$.getmov.getInfoAccount(this.emailValue);
        alert("Has cerrado sesión, espero que vuelvas pronto");
        sessionStorage.removeItem("flagLogin");
        sessionStorage.removeItem("email");
        sessionStorage.removeItem("name");
        sessionStorage.removeItem("surName");
        sessionStorage.removeItem("token");
        setTimeout(function () {
           window.location.reload(1);
        }, 400);
      }
    }
    window.customElements.define(IndexApp.is, IndexApp);
  </script>
</dom-module>
