<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="add-movement">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/index.css">

    <style type="text/css">
    .textheader{
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      font-style: normal;
      color: #6c7b88;

    }

    .labelmoney {
      font-family: Courier, "Lucida Console", monospace;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;

      display: inline-block;
      width: 350px;
      background: transparent;
      padding: 0 5px;
    }

    .textfont {
      font-family: Courier, "Lucida Console", monospace;
      font-size: 16px;
      color: #808080;
      line-height: 1.4;
    }
    </style>

    <div class = "textheader">
      <h3 class="page-header">
        Realiza un depósito a tu cuenta
      </h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="wrap-input100 validate-input m-b-26">
          <span class = "textfont">Ingrese el monto deseado: </span>
          <br />
          <br />
          <label>$</label>
          <input class="labelmoney" type="text" name="addMoney" placeholder="Ingresa el monto de tu transferencia" value="{{valueMovement::input}}" required>
        </div>
        <button class="login100-form-btn" on-click="eventAddMoney" type="button">Depósitar</button>
      </div>
    </div>

    <iron-ajax
      id="doingGetFeautureAccount"
      method="POST"
      url="http://3.14.8.44:3002/v1/getFeatures"
      body='{"email": "[[emailValue]]"}'
      handle-as="json"
      content-type="application/json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse">
    </iron-ajax>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}">
    </app-route>

  </template>




  <script>
    /**
     * @customElement
     * @polymeradd-movement
     */
    class AddMovementApp extends Polymer.Element {
      static get is() { return 'add-movement'; }
      static get properties() {
        return {
          route: {
              type: Object
          },
          routeData: {
              type: Object
          },
          valueMovement: {
            type: String
          },
          emailValue:{
            type: String
          },
          accountShort:{
            type: String
          },
          accountMoney:{
            type: String
          },
          token:{
            type: String
          }
        };
      }

      eventAddMoney(){
        if(validateNumber(this.valueMovement)){
          this.$.doingGetFeautureAccount.headers = {
            'access-token': this.token,
            'Content-Type': 'application/json'
          };
          this.$.doingGetFeautureAccount.generateRequest();
          var intMovement = parseInt(this.valueMovement);
          if(intMovement <= 8000){
            var urlMovements = "http://3.14.8.44:3002/v1/addMovement";
            var requestMovements = new XMLHttpRequest();
            requestMovements.open("POST", urlMovements, false);
            requestMovements.setRequestHeader("Accept", "application/json");
            requestMovements.setRequestHeader("Content-Type", "application/json");
            requestMovements.setRequestHeader("access-token", this.token);
            var createMovements = {
              "email_client": this.emailValue,
              "account_short": this.accountShort,
              "import": this.valueMovement,
              "transaction_type": "D",
              "date_movement": convertDate(new Date()),
              "time_movement": startTime(),
              "segment":"",
              "location_atm":"",
              "location_name" : ""
            };
            var bodyMovements = JSON.stringify(createMovements);
            requestMovements.send(bodyMovements);
            //<------------- Global Money ------------------------------->
            var urlGlobalMoney = "http://3.14.8.44:3002/v1/globalMoney";
            var requestGlobalMoney = new XMLHttpRequest();
            requestGlobalMoney.open("PUT", urlGlobalMoney, false);
            requestGlobalMoney.setRequestHeader("Accept", "application/json");
            requestGlobalMoney.setRequestHeader("Content-Type", "application/json");
            requestGlobalMoney.setRequestHeader("access-token", this.token);
            var putGlobalMoney = {
              "email": this.emailValue,
              "import": this.valueMovement,
              "typemov": "P"
            };
            var bodyGlobalMoney = JSON.stringify(putGlobalMoney);
            requestGlobalMoney.send(bodyGlobalMoney);
            var responseTxt = JSON.parse(requestGlobalMoney.responseText);
            if (responseTxt.mensaje != "Token inválida"){
              alert("Se ha depósitado exitosamente");
              //setTimeout(function () {
              //   window.location.reload(1);
              //}, 5000);
              this.set('route.path', '/infoaccount-app');
              this.valueMovement = "";
              this.emailValue = "";
              this.accountShort = "";
              this.accountMoney = "";
              this.dispatchEvent(
                  new CustomEvent(
                      'eventviewmoney',
                      {
                          detail: {
                              flagViewMoney: 'true',
                          }
                      }
                  )
              )
            }
          }else{
            alert("El monto máximo a depósitar por día es de $8000");
          }
        }else{
          alert("Verifica que el dato sea un número y que no tenga decimales");
        }

      }


      getInfoAccount(emailRequest, token) {
        this.token = token;
        this.emailValue = emailRequest;
      }

      manageAJAXResponse(data) {
        if(data.detail.response.mensaje != "Token inválida"){
          this.accountShort = data.detail.response[0].contract.account_short;
          this.accountMoney = data.detail.response[0].contract.account_money;
        }else{
          alert("Ha caducado su sesión, por seguridad debe ingresar de nuevo");
          sessionStorage.removeItem("flagLogin");
          sessionStorage.removeItem("email");
          sessionStorage.removeItem("name");
          sessionStorage.removeItem("surName");
          sessionStorage.removeItem("token");
          setTimeout(function () {
             window.location.reload(1);
          }, 300);
        }
      }

    }
    window.customElements.define(AddMovementApp.is, AddMovementApp);
  </script>
  <script>
    function validateNumber(strNumber) {
      var regExp = new RegExp("^\\d+$");
      var isValid = regExp.test(strNumber);
      return isValid;
    }

    function convertDate(date) {
      var yyyy = date.getFullYear().toString();
      var mm = (date.getMonth()+1).toString();
      var dd  = date.getDate().toString();
      var mmChars = mm.split('');
      var ddChars = dd.split('');
      return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }

    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      // add a zero in front of numbers<10
      m = checkTime(m);
      s = checkTime(s);
      return h + ":" + m + ":" + s;
    }
    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }

  </script>
</dom-module>
