<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../bower_components/vaadin-charts/vaadin-chart.html">

<dom-module id="graph-movement">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <style type="text/css">
    #textheader{
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      font-style: normal;
      color: #6c7b88;

    }
    #div-scroll{
      overflow-x:auto;
      overflow-y:auto;
      width:100%;
      height:100%;
    }
    </style>
    <div id = "textheader">
      <h3 class="page-header">
        Ver gasto del mes
      </h3>
    </div>
    <div id = "div-scroll">
      <div style="height:550px; width:800px">
      <vaadin-chart type="pie" tooltip additional-options='{
            "tooltip": {
              "pointFormat": "{series.name}: <b>{point.percentage:.1f}%</b>"
            },
            "plotOptions": {
              "pie": {
                "allowPointSelect":false,
                "cursor": "pointer",
                "dataLabels": {
                  "enabled":true,
                  "format": "<b>{point.name}</b>: {point.percentage:.1f} %"
                }
              }
            }
          }'>
        <vaadin-chart-series title="Brands" values=[[rows]]></vaadin-chart-series>
      </vaadin-chart>
    </div>
    </div>




    <iron-ajax
      id="autoGetMov"
      method="POST"
      url="http://3.14.8.44:3002/v1/graphMovements"
      handle-as="json"
      content-type="application/json"
      on-response="manageAJAXAutoResponseMv"> </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GraphMovement extends Polymer.Element {
      static get is() { return 'graph-movement'; }
      static get properties() {
        return {
          rent:{
            type: Number
          },
          internet: {
            type: Number
          },
          saldo:{
            type: Number
          },
          entertainment:{
            type: Number
          },
          beauty:{
            type: Number
          },
          maintenance:{
            type: Number
          },
          automotive:{
            type: Number
          },
          rows: {
            type: Array,
            notify: true,
          },
          token:{
            type: String
          },
          emailValue:{
            type: String
          }
        };
      }

      getInfoAccount(email, token){
        this.emailValue = email;
        this.token = token;
        var loginData = {
          'email': this.emailValue
        };
        this.$.autoGetMov.body = JSON.stringify(loginData);
        this.$.autoGetMov.headers = {
          'access-token': this.token,
          'Content-Type': 'application/json'
        };
        this.$.autoGetMov.generateRequest();
      }

      manageAJAXAutoResponseMv(data){
        if(data.detail.response.mensaje != "Token inválida"){
          if (this.token != "" && this.token != null ){
            if (data.detail.response.rent != 0 ||
              data.detail.response.internet != 0 ||
              data.detail.response.rec_saldo != 0 ||
              data.detail.response.entertainment != 0 ||
              data.detail.response.beauty != 0 ||
              data.detail.response.maintenance_home != 0 ||
              data.detail.response.automotive != 0) {
                this.rent = data.detail.response.rent;
                this.internet = data.detail.response.internet;
                this.saldo = data.detail.response.rec_saldo;
                this.entertainment = data.detail.response.entertainment;
                this.beauty = data.detail.response.beauty;
                this.maintenance = data.detail.response.maintenance_home;
                this.automotive = data.detail.response.automotive;
                this.rows = [
                  {
                    "name": "Renta: $ " + '"' + parseInt(this.rent) + '"' ,
                    "y": parseInt(this.rent),
                    "sliced": true
                  },{
                    "name": "Internet: $ " + '"' + parseInt(this.internet) + '"' ,
                    "y": parseInt(this.internet),
                    "sliced": true
                  },{
                    "name": "Recarga de saldo: $ "+ '"' + parseInt(this.saldo) + '"' ,
                    "y": parseInt(this.saldo),
                    "sliced": true
                  },{
                    "name": "Entretenimiento: $ "+ '"' + parseInt(this.entertainment) + '"' ,
                    "y": parseInt(this.entertainment),
                    "sliced": true
                  },{
                    "name": "Belleza: $ "+ '"' + parseInt(this.beauty) + '"' ,
                    "y": parseInt(this.beauty),
                    "sliced": true
                  },{
                    "name": "Mantenimiento de hogar: $ "+ '"' + parseInt(this.maintenance) + '"' ,
                    "y": parseInt(this.maintenance),
                    "sliced": true
                  },{
                    "name": "Automotriz: $ "+ '"' + parseInt(this.automotive) + '"' ,
                    "y": parseInt(this.automotive),
                    "sliced": true
                  }
                ];
            }
          }
        }else{
          alert("Ha caducado su sesión, por seguridad debe ingresar de nuevo");
          sessionStorage.removeItem("flagLogin");
          sessionStorage.removeItem("email");
          sessionStorage.removeItem("name");
          sessionStorage.removeItem("surName");
          sessionStorage.removeItem("token");
          setTimeout(function () {
             window.location.reload(1);
          }, 300);
        }
      }


    }



    window.customElements.define(GraphMovement.is, GraphMovement);
  </script>

</dom-module>
