<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../createuser-app/createuser-app.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <style type="text/css">


    </style>


    <span hidden$="[[createNewUser]]">
      <div class="limiter">
  		<div class="container-login100">
  			<div class="wrap-login100">
  				<div class="login100-form-title" style="background-image: url(resources/bg-01.jpg);">
  					<span class="login100-form-title-1">Bienvenido a Mirai Bank</span>
  				</div>
          <form class="login100-form validate-form">
  					<div class="wrap-input100 validate-input m-b-26">
  						<span class="label-input100">Usuario</span>
  						<input class="input100" type="text" name="username" placeholder="Ingresa tu correo" value="{{email::input}}" required>
  						<span class="focus-input100"></span>
  					</div>
  					<div class="wrap-input100 validate-input m-b-18">
  						<span class="label-input100">Contraseña</span>
  						<input class="input100" type="password" name="pass" placeholder="Contraseña" value="{{password::input}}" required>
  						<span class="focus-input100"></span>
  					</div>
  					<div class="container-login100-form-btn">
              <button class="login100-form-btn" on-click="doinglogin" type="button">Login</button>
  					</div>

            <p class="label-create" on-click="createAccount">Crear nueva cuenta</p>
  				</form>

        </div>
      </div>
    </div>
    </span>

    <span hidden$="[[!createNewUser]]" aling="center">
      <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-1" aling="center">
              <button class="login100-form-btn" on-click="eventReturn" type="button">Regresar</button>
            </div>
            <div class="col-sm-3" aling="center"></div>
        </div>
    </div>
    <createuser-app on-myevent="processEvent" id="main"></createuser-app>

    </span>




    <iron-ajax
      id="doLogin"
      url="http://3.14.8.44:3002/v1/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="responseLoginAjax"
      on-error="responseErrorAjax"> </iron-ajax>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"></app-route>


  </template>

  <script>
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          createNewUser: {
              type: Boolean,
              value: false
          },
          route: {
            type: Object
          },
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }

      doinglogin() {
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }

      responseLoginAjax(requestAjax){

        //sessionStorage.setItem("token", requestAjax.detail.response.token);
        if (requestAjax.detail.status == 200){
          this.set('route.path', '/index-app');
          sessionStorage.setItem("flagLogin", true);
          this.dispatchEvent(
              new CustomEvent(
                  'eventlogin',
                  {
                      detail: {
                          loginSuccessful: 'true',
                          email: this.email,
                          token: requestAjax.detail.response.token
                      }
                  }
              )
          )
        }else if (requestAjax.detail.status == 204){
          alert("No existe el usuario, registrese");

        }else if (requestAjax.detail.status == 201){
          alert("Datos erroneos, verifiquelos de nuevo");

        }
        this.email = "";
        this.password = "";
      }

      responseErrorAjax(error) {
        console.log("Hubo un error en la petición");
        console.log(error);
      }

      createAccount() {
        this.createNewUser = true;
      }

      eventReturn() {
        this.createNewUser = false;
      }

    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
