<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="profile-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">

    .textheader{
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      font-style: normal;
      color: #6c7b88;

    }

    #wrapperid {
      font-family: Courier, "Lucida Console", monospace;
      font-size: 15px;
      color: #808080;
      line-height: 1.2;
      text-align: center;
      justify-content: center;
    }

    </style>
    <div class = "textheader">
      <h2>Información del cliente</h2>
      <h3 class="page-header">[[name]]</h3>
    </div>
    <div class="row" id = "wrapperid">
      <div class="col-sm-6">
        <address>
          <b>Fecha de Nacimiento: </b> [[birthDate]]<br>
          <b>Género: </b> [[genre]]<br>
          <b>Correo electrónico: </b> [[email]]<br>
          <b>Teléfono: </b> [[phone]]<br>
          <b>RFC </b> [[rfc]]<br>
        </address>
      </div>
      <div class="col-sm-6">
        <b>Calle: </b>[[street]]<br>
        <b>Colonia: </b>[[suburb]]<br>
        <b>Estado: </b>[[state]]<br>
      </div>
    </div>


    <iron-ajax
      id="doingGetFeautreProfile"
      method="POST"
      url="http://3.14.8.44:3002/v1/getFeatures"
      body='{"email": "[[email]]"}'
      handle-as="json"
      content-type="application/json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProfileApp extends Polymer.Element {
      static get is() { return 'profile-app'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          birthDate: {
            type: String
          },
          genre: {
            type: String
          },
          email: {
            type: String
          },
          phone:{
            type: String
          },
          rfc:{
            type: String
          },
          street:{
            type: String
          },
          suburb:{
            type: String
          },
          state:{
            type: String
          },
          token:{
            type: String

          }
        }
      }

      getInformation(emailRequest, token) {

        this.email = emailRequest;
        this.token = token;
        this.$.doingGetFeautreProfile.headers = {
          'access-token': this.token,
          'Content-Type': 'application/json'
        };
        this.$.doingGetFeautreProfile.generateRequest();
      }


      manageAJAXResponse(data) {
        if(data.detail.response.mensaje != "Token inválida"){
          var surName = data.detail.response[0].lastName.split(",");
          this.name = data.detail.response[0].name + " " + surName[0] + " " + surName[1];
          this.birthDate = data.detail.response[0].birthDate;
          this.genre = data.detail.response[0].genre;

          this.phone = data.detail.response[0].phone;
          this.rfc = data.detail.response[0].rfc;

          this.street = data.detail.response[0].address.street + " " + data.detail.response[0].address.number;
          this.suburb = data.detail.response[0].address.suburb;
          this.state = data.detail.response[0].address.state;
        }else{
          alert("Ha caducado su sesión, por seguridad debe ingresar de nuevo");
          sessionStorage.removeItem("flagLogin");
          sessionStorage.removeItem("email");
          sessionStorage.removeItem("name");
          sessionStorage.removeItem("surName");
          sessionStorage.removeItem("token");
          setTimeout(function () {
             window.location.reload(1);
          }, 300);
        }
      }
    }
    window.customElements.define(ProfileApp.is, ProfileApp);
  </script>
</dom-module>
