<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="view-movement">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/index.css">

    <style>
      google-map {
        height: 310px;
        width: 820px;
      }
    </style>

    <style type="text/css">
    #div-scroll {
     overflow-x:auto;
     overflow-y:auto;
     width:100%;
     height:100%;
    }
    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }

    .textheader{
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      font-style: normal;
      color: #6c7b88;
    }

    .textfont {
      font-family: Courier, "Lucida Console", monospace;
      font-size: 16px;
      color: #6d6d6d;
      line-height: 1.4;
    }

    </style>

    <script>
    // When the user clicks on div, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    </script>


    <div class="textheader">
      <h3 class="page-header">
        Ver últimos movimientos
      </h3>
    </div>

    <div class="container">
      <select value = "{{transactionTy::change}}">
        <option value="D">Depósito</option>
        <option value="R">Retiro</option>
      </select>
      <br />
      <template is="dom-repeat" id="menu" items="{{createButtom}}">
        <!-- <span style="position: absolute; left: {{item.positionY}} ;top: 300px;">{{item.index_buttom}}</span> -->
        <button on-click="order" style="position: relative;left: {{item.positionY}} ;top: 2px">{{item.index_buttom}}</button>
      </template>
      <br />
    </div>

    <div id="div-scroll">
      <span hidden$={{activeTable}}>
        <div class="container" style="width:900px">
          <div class = "row">
            <table class="table table-striped">
              <thead>
                <th>Importe</th>
                <th>Transaccion</th>
                <th>Fecha de movimiento</th>
                <th>Hora de movimiento</th>
              </thead>
              <tbody class = "textfont">
                <template is = "dom-repeat" items="{{createTable}}">
                  <tr>
                    <td>[[item.import]]</td>
                    <td>Depósito</td>
                    <td>[[item.date_movement]]</td>
                    <td>[[item.time_movement]]</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </span>

      <span hidden$={{!activeTable}}>
        <div class="container" style="width:900px">
          <div class = "row">
            <table class="table table-striped">
              <thead>
                <th>Importe</th>
                <th>Transaccion</th>
                <th>Fecha de movimiento</th>
                <th>Hora de movimiento</th>
                <th>Tipo de segmento</th>
                <th>Ubicación</th>
              </thead>
              <tbody class = "textfont">
                <template is = "dom-repeat" items="{{createTable}}">
                  <tr>
                    <td>[[item.import]]</td>
                    <td>Retiro</td>
                    <td>[[item.date_movement]]</td>
                    <td>[[item.time_movement]]</td>
                    <td>[[item.segment]]</td>
                    <td><p class="label-create-mov" on-click="viewLocation">Ver compra</p></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <div style="margin-left: {{marginGoogle}}">
          <google-map api-key="AIzaSyDFGNvlQ6L1Ag8LNbO72_bZ4QBVdyhRojM" latitude="19.4" longitude="-99.1" zoom="11">
            <google-map-marker latitude="[[latitudeX]]" longitude="[[longitudeY]]" title="Sucursal BBVA"
            icon="[[iconPolymer]]" click-events="true" on-google-map-marker-click="markerClicked">
              <div id="popup">
                <span class="popuptext" id="myPopup"></span>
              </div>
            </google-map-marker>
          </google-map>
        </div>
      </span>
    </div>


    <iron-ajax
      id="autoCountMov"
      method="POST"
      auto
      url="http://3.14.8.44:3002/v1/countsMovements"
      body='{"transactionType": "[[transactionTy]]", "email": "[[emailValue]]"}'
      handle-as="json"
      content-type="application/json"
      headers='{"access-token": "[[token]]"}'
      on-response="manageAJAXAutoResponseCount"> </iron-ajax>

    <iron-ajax
      id="pagGetMov"
      method="POST"
      url="http://3.14.8.44:3002/v2/getMovements"
      handle-as="json"
      content-type="application/json"
      on-response="manageAJAXResponsePag"> </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewMovement extends Polymer.Element {
      static get is() {
        return 'view-movement'; }
      static get properties() {
        return {
          getMovements: {
            type: Array,
            notify: true
          },
          transactionTy:{
            type: String,
            value : "D"
          },
          activeTable:{
            type: Boolean,
            value: false
          },
          createTable: {
            type: Array,
            value: function() {
                return [];
            }
          },
          latitudeX:{
            type:String
          },
          longitudeY:{
            type:String
          },
          iconPolymer:{
            type: Object
          },
          atmName:{
            type: String
          },
          numPags:{
            type: Number
          },
          pagSize:{
            type: Number,
            value: 5
          },
          createButtom: {
            type: Array,
            value: function() {
                return [];
            }
          },
          token:{
            type: String
          },
          emailValue:{
            type: String
          },
          marginGoogle:{
            type: String,
            value: "50px"
          }
        };
      }


      getInfoAccount(email, token, pxPage){
        this.emailValue = email;
        this.token = token;
        console.log(pxPage)
        if (pxPage > 1350){
          this.marginGoogle = "350px";
        }else{
          this.marginGoogle = "50px";
        }
        var loginData = {
          'transactionType': this.transactionTy,
          'email': this.emailValue
        };
        this.$.autoCountMov.body = JSON.stringify(loginData);
        this.$.autoCountMov.headers = {
          'access-token': this.token,
          'Content-Type': 'application/json'
        };
        this.$.autoCountMov.generateRequest();
      }


      manageAJAXAutoResponseCount(data){
        if(data.detail.response.mensaje != "Token inválida"){
          if (parseInt(data.detail.response) > 0){
            if (this.token != "" && this.token != null ){
              this.createButtom = [];
              this.numPags = parseInt(data.detail.response);
              var div = Math.trunc(this.numPags/this.pagSize);
              var i;
              var posY = 750;
              if (this.numPags%this.pagSize != 0){
                div += 1;
              }
              for (i = 1; i <= div; i++){
                posY = posY + 10;
                this.push('createButtom', {"index_buttom": i.toString(),
                                          "positionY": posY.toString() + "px"});
              }
              this.createTableEvent(1);
            }
          }
        }else{
          alert("Ha caducado su sesión, por seguridad debe ingresar de nuevo");
          sessionStorage.removeItem("flagLogin");
          sessionStorage.removeItem("email");
          sessionStorage.removeItem("name");
          sessionStorage.removeItem("surName");
          sessionStorage.removeItem("token");
          setTimeout(function () {
             window.location.reload(1);
          }, 300);
        }
      }

      order(n) {
        this.createTableEvent(n.model.item.index_buttom);
      }

      createTableEvent(index){
        var loginData = {
          "transactionType" : this.transactionTy,
          "skip": this.pagSize * (index - 1),
          "limit": this.pagSize,
          'email': this.emailValue
        };

        this.$.pagGetMov.body = JSON.stringify(loginData);
        this.$.pagGetMov.headers = {
          'access-token': this.token,
          'Content-Type': 'application/json'
        };
        this.$.pagGetMov.generateRequest();
      }


      manageAJAXResponsePag(data){

        if(data.detail.response[0].transaction_type == "D"){
          this.activeTable = false;
        }else{
          this.activeTable = true;
        }
        var i;
        this.createTable = [];
        for (i = 0; i < data.detail.response.length; i++){
          this.push('createTable', {"import": data.detail.response[i].import.toString(),
                                    "date_movement": data.detail.response[i].date_movement.toString(),
                                    "time_movement": data.detail.response[i].time_movement.toString(),
                                    "segment": data.detail.response[i].segment.toString(),
                                    "location_atm": data.detail.response[i].location_atm.toString(),
                                    "location_name": data.detail.response[i].location_name.toString()});
        }
      }




      viewLocation(e) {
        var geoXY = e.model.item.location_atm.split(",");
        this.atmName = e.model.item.location_name.toString();
        this.latitudeX = geoXY[0];
        this.longitudeY= geoXY[1];
        this.set('iconPolymer',{ url: 'https://image.flaticon.com/icons/png/512/368/368402.png', scaledSize: new google.maps.Size(35, 35) });
        var popup = this.shadowRoot.querySelector("#myPopup");
        popup.innerText = this.atmName;
      }

      markerClicked(){
        //alert(this.atmName );
        var popup = this.shadowRoot.querySelector("#myPopup");
        popup.innerText = this.atmName;
        popup.classList.toggle("show");

      }

    }

    window.customElements.define(ViewMovement.is, ViewMovement);
  </script>
</dom-module>
