<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">


<dom-module id="createuser-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/index.css">

    <div class="container">
      <div class="row">
        <div>
          <div>
             <label>Apellido Paterno <a style="color:red">*</a> </label>
             <input required type="text" value="{{lastFirstName::input}}" class="form-control"
             placeholder="Apellido Paterno" autofocus>
          </div>

          <div>
             <label>Apellido Materno </label>
             <input type="text" value="{{lastSecondName::input}}" class="form-control"
             placeholder="Apellido Materno" autofocus>
          </div>

          <div>
             <label>Nombre<a style="color:red">*</a> </label>
             <input required type="text" value="{{name::input}}" class="form-control"
             placeholder="Nombre" autofocus>
          </div>

          <div>
             <label> Fecha de Nacimiento <a style="color:red">*</a></label>
             <input required type="date" value="{{birthDate::input}}" class="form-control"
             placeholder="Fecha de nacimiento" autofocus>
          </div>

          <div>
            <div class="radio">
              <label><input type="radio" name="optradio" checked id="r1">Masculino</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="r2">Femenino</label>
            </div>
          </div>

          <div>
             <label>RFC<a style="color:red">*</a> </label>
             <input required type="text" value="{{rfc::input}}" class="form-control"
             placeholder="RFC" autofocus>
          </div>

          <div>
             <label>Correo electrónico<a style="color:red">*</a> </label>
             <input required type="email" value="{{emailValue::input}}" class="form-control"
             placeholder="Correo electrónico" autofocus>
          </div>

          <div>
             <label>Teléfono<a style="color:red">*</a> </label>
             <input required type="text" value="{{phone::input}}" class="form-control"
             placeholder="Teléfono" autofocus>
          </div>

          <div>
             <label>Calle<a style="color:red">*</a> </label>
             <input required type="text" value="{{street::input}}" class="form-control"
             placeholder="Calle" autofocus>
          </div>

          <div>
             <label>Número externo<a style="color:red">*</a> </label>
             <input required type="text" value="{{numberStreet::input}}" class="form-control"
             placeholder="Número externo" autofocus>
          </div>

          <div>
             <label>Colonia o Suburbio<a style="color:red">*</a> </label>
             <input required type="text" value="{{suburb::input}}" class="form-control"
             placeholder="Colonia o Suburbio" autofocus>
          </div>

          <div>
             <label>Estado<a style="color:red">*</a> </label>
             <input required type="text" value="{{state::input}}" class="form-control"
             placeholder="Estado" autofocus>
          </div>

          <div>
             <label>Contraseña<a style="color:red">*</a> </label>
             <input required type="password" value="{{passwordValue::input}}" class="form-control"
             placeholder="Escribe tu contraseña" id="myInput" autofocus>
             <br>
             <input type="checkbox" on-click="myFunction"> Mostrar contraseña
          </div>

          <div class="buttom-create-user">
            <button class="login100-form-btn" on-click="eventCreateUser" type="button">Registrar</button>
          </div>

        </div>
      </div>
    </div>
  </template>

  <script>
     /**
      * @customElement
      * @polymer
      */
  class CreateUserApp extends Polymer.Element {
    static get is() { return 'createuser-app'; }
    static get properties() {
      return {
        name: {
          type: String
        },
        lastFirstName: {
          type: String
        },
        lastSecondName: {
          type: String
        },
        birthDate:{
          type: String
        },
        genre:{
          type: String,
          value: "Masculino"
        },
        rfc:{
          type: String
        },
        emailValue:{
          type: String
        },
        phone:{
          type: String
        },
        street: {
          type: String
        },
        numberStreet: {
          type: String
        },
        suburb: {
          type: String
        },
        state: {
          type: String
        },
        passwordValue:{
          type: String
        }
      };
    }

    flagFields() {
      this.checkButtomFuction();
      if (
        this.name != null &&
        this.lastFirstName != null &&
        this.lastSecondName != null &&
        this.birthDate != null &&
        this.genre != null &&
        this.rfc != null &&
        this.emailValue != null &&
        this.phone != null &&
        this.street != null &&
        this.numberStreet != null &&
        this.suburb != null &&
        this.state != null &&
        this.passwordValue != null) {
          return true;
       }
       else {
         return false;
       }
    }

    eventCreateUser() {
      if (this.flagFields()){
        var urlFind = "http://3.14.8.44:3002/v1/validateUser";
        var urlCreate = "http://3.14.8.44:3002/v1/createUser";
        var urlCreateFeature = "http://3.14.8.44:3002/v1/createFeatures";
        var requestFindUser = new XMLHttpRequest();
        requestFindUser.open("POST", urlFind, false);
        requestFindUser.setRequestHeader("Accept", "application/json");
        requestFindUser.setRequestHeader("Content-Type", "application/json");
        var findUser = {"email": this.emailValue};
        var bodyFind = JSON.stringify(findUser);
        requestFindUser.send(bodyFind);
        if (requestFindUser.status == 204){
          /* ------------------ Crea nuevo usuario------------------------ */
          var requestCreateUser = new XMLHttpRequest();
          requestCreateUser.open("POST", urlCreate, false);
          requestCreateUser.setRequestHeader("Accept", "application/json");
          requestCreateUser.setRequestHeader("Content-Type", "application/json");
          var createNewUser = {"email": this.emailValue, "password": this.passwordValue};
          var bodyNewUser = JSON.stringify(createNewUser);
          requestCreateUser.send(bodyNewUser);
          /* ------------------ Guardar las caracteristicas del cliente------------------------ */
          var requestNewFeature = new XMLHttpRequest();
          requestNewFeature.open("POST", urlCreateFeature, false);
          requestNewFeature.setRequestHeader("Accept", "application/json");
          requestNewFeature.setRequestHeader("Content-Type", "application/json");
          var account_long = makeAccount(1);
          var number_card = makeAccount(2);
          var account_short = makeAccount(3);
          var featureClient = {
            "name": this.name,
            "lastName": this.lastFirstName + "," + this.lastSecondName,
            "birthDate" : this.birthDate,
            "genre" : this.genre,
            "rfc": this.rfc,
            "email": this.emailValue,
            "phone": this.phone,
            "address":{
              "street": this.street,
              "number": this.numberStreet,
              "suburb": this.suburb,
              "state" : this.state
            },
            "contract":{
              "account_long": account_long,
              "account_short": account_short,
              "number_card": number_card,
              "account_dateopen": convertDate(new Date()),
              "account_money" : "0.0"
            }
          }
          var bodyNewFeature = JSON.stringify(featureClient);
          requestNewFeature.send(bodyNewFeature);
          alert("Se ha guardado exitosamente sus datos. Intente ingresar de nuevo");
          setTimeout(function () {
             window.location.reload(1);
          }, 5000);
        }else {
          alert("Existe un registro con el mismo correo. Intente con correo diferente");
        }
      } else {
        alert("Faltan datos importantes en el formulario, verifica e intenta nuevamente.");
      }
    }

    myFunction() {
      var x = this.shadowRoot.querySelector('#myInput');
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }

    checkButtomFuction() {
      if (this.shadowRoot.querySelector('#r1').checked) {
        this.genre = "Masculino";
      }else if(this.shadowRoot.querySelector('#r2').checked) {
        this.genre = "Femenino";
      }
    }


  }



  window.customElements.define(CreateUserApp.is, CreateUserApp);

  </script>

  <script>
  function makeAccount(type) {
    var stringBuilder = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var numbers = '0123456789';
    if (type == 1) { //Long 18
      while(stringBuilder.length < 18) {
        var aleatorio = Math.round(Math.random());
        if (aleatorio == 1){
          stringBuilder += characters.charAt(Math.floor(Math.random() * characters.length));
          stringBuilder += numbers.charAt(Math.floor(Math.random() * numbers.length));
        }else{
          stringBuilder += numbers.charAt(Math.floor(Math.random() * numbers.length));
          stringBuilder += characters.charAt(Math.floor(Math.random() * characters.length));
        }
      }
    } else if (type == 2) { //Long 16
      while(stringBuilder.length < 16) {
        stringBuilder += numbers.charAt(Math.floor(Math.random() * numbers.length));
      }
    } else if (type == 3) { //Long 8
      while(stringBuilder.length < 8) {
        stringBuilder += characters.charAt(Math.floor(Math.random() * characters.length));
        stringBuilder += numbers.charAt(Math.floor(Math.random() * numbers.length));
      }
    }
    return stringBuilder;
  }
  function convertDate(date) {
      var yyyy = date.getFullYear().toString();
      var mm = (date.getMonth()+1).toString();
      var dd  = date.getDate().toString();

      var mmChars = mm.split('');
      var ddChars = dd.split('');

      return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }
  </script>


</dom-module>
