<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<dom-module id="font-awesome">
  <template>
    <style>

    </style>
  </template>
</dom-module>
