<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="infoaccount-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
    .circle {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background: #4f4e4e;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0px auto;
      padding:3%
    }

    .circle > h2 {
      font-family: sans-serif;
      color: white;
      font-size: 1.0rem;
      font-weight: bold;
      }
      #wrapperid {
        font-family: Courier, "Lucida Console", monospace;
        font-size: 15px;
        color: #808080;
        line-height: 1.2;
        text-align: center;
        justify-content: center;
      }
      #textheader{
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-style: normal;
        color: #6c7b88;

      }
    </style>

    <h2 id= "textheader">Información Bancaria</h2>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="page-header">
        </h3>
      </div>
    </div>
    <div class="circle">
      <h2>Saldo disponible: <br /> <br />$ [[globalMoney]]</h2>
    </div>
    <div id = "wrapperid">
      <br />
      <address>
        <b>CLABE: </b> [[accountLong]]<br>
        <b>Número de cuenta: </b> [[accountShort]]<br>
        <b>Número de tarjeta: </b> [[numberCard]]<br>
        <b>Fecha de apertura: </b> [[accountDateOpen]]<br>
      </address>
    </div>

    <iron-ajax
      id="doingGetFeautreAccount"
      method="POST"
      url="http://3.14.8.44:3002/v1/getFeatures"
      body='{"email": "[[email]]"}'
      handle-as="json"
      content-type="application/json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse">
    </iron-ajax>


  </template>
  <script>
    class InfoAccountApp extends Polymer.Element {
      static get is() { return 'infoaccount-app'; }
      static get properties() {
        return {
          accountLong:{
            type: String
          },
          accountShort:{
            type: String
          },
          numberCard:{
            type: String
          },
          accountDateOpen:{
            type: String
          },
          nameClient:{
            type: String
          },
          globalMoney:{
            type: String
          },
          email:{
            type:String
          },
          token:{
            type: String

          }
        }
      }
      getInfoAccount(emailRequest, token) {
        this.email = emailRequest;
        this.token = token;
        this.$.doingGetFeautreAccount.headers = {
          'access-token': this.token,
          'Content-Type': 'application/json'
        };
        this.$.doingGetFeautreAccount.generateRequest();
      }
      manageAJAXResponse(data) {
        if(data.detail.response.mensaje != "Token inválida"){
          var surName = data.detail.response[0].lastName.split(",");
          this.accountLong = data.detail.response[0].contract.account_long;
          this.accountShort = data.detail.response[0].contract.account_short;
          this.numberCard = data.detail.response[0].contract.number_card;
          this.accountDateOpen = data.detail.response[0].contract.account_dateopen;
          this.nameClient = data.detail.response[0].name + " " + surName[0] + " " + surName[1];
          this.globalMoney = data.detail.response[0].contract.account_money;
        }else{
          alert("Ha caducado su sesión, por seguridad debe ingresar de nuevo");
          sessionStorage.removeItem("flagLogin");
          sessionStorage.removeItem("email");
          sessionStorage.removeItem("name");
          sessionStorage.removeItem("surName");
          sessionStorage.removeItem("token");
          setTimeout(function () {
             window.location.reload(1);
          }, 300);
        }
      }

    }
    window.customElements.define(InfoAccountApp.is, InfoAccountApp);
  </script>

</dom-module>
